body {
  background-color: pink;
}

h1 {
  font-weight: bolder;
}

h3 {
  font-style: italic;
}

table {
  margin-left: 5%;
  margin-right: 5%;
  td {
    padding: 2px;
    border: 1px solid #000;
  }
}
